/* Footer */
.footer {
    background: #2e2e2e;
    color: white;
    text-align: center;
    padding: 100px 80px;
    margin-top: 40px;
  }
  
  .footer a {
    color: #7b4df7;
    text-decoration: none;
  }
  
