/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #ffffff;
    text-align: center;
    background-size:auto;
    gap: 40px;
  }
  
  .heroBlockBanner {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
  }
  
  .heroBlockBanner h2 {
    font-size: 54px;
    line-height: 120%;
    text-align: justify;
  }
  
  .heroBlockBanner p {
    display: flex;
    text-align: justify;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 12px;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .highLight {
    color: #5E3BEE;
  }
  
  .bannerBtnMainPage {
    display: flex;
    margin-top: 20px;
    background-color: #5E3BEE;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #5E3BEE;
    text-decoration: none;
    font-weight: 600;
  }
  
  .bannerBtnMainPage:hover {
    color: #5E3BEE;
    background-color: #ffffff;
    border:2px solid #5E3BEE ;
  }

  .bannerImgMainPage {
    max-width: 50%; /* или меньше, если нужно */
    flex: 1;
    overflow: hidden;
  }
  