/* Seksjoner */
 .om-meg {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .om-meg h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .om-meg p:first-child {
    margin-bottom: 10px;
  }
  
  .blockOmMeg {
    margin: 0px 32px;
  }